// We use these functions to define upper and lower boundries of ranges
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $rem-base is the font-size of <html>
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $rem-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

// Strips the units from a number
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}