$rem-base: 16px !default;

@import 'functions';
@import 'colors';
@import 'media-queries';
@import 'variables';

// GLOBAL
$font-family-sans-serif: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$font-family-serif: "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$font-family-monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace !default;

$global-radius: rem(4) !default;
$global-rounded: rem(1000) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$body-bg: $snow !default;
$body-font-color: $oil !default;
$body-font-family: $font-family-sans-serif !default;
$body-font-weight: $font-weight-normal !default;
$body-font-size: rem(18) !default;
$body-font-style: normal !default;

$base-border-width: rem(1) !default;
$base-border-style: solid !default;
$base-border-color: scale-color($body-font-color, $lightness: 25%) !default;
$base-border: $base-border-width $base-border-style $base-border-color !default;

$font-smoothing: antialiased !default;

