@import '../settings/global';

$container-width: upper-bound($medium-range) !default;

html {
  background-color: $body-bg;
  font-size: $rem-base;
  height: 100%;
  width: 100%;
}

body {
	min-height: 100%;
  width: 100%;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  overflow: auto;
  padding: 0 rem(15);

  @media #{$xxlarge-up} {
    padding: 0;
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
