@import '../settings/global';

html, body {
	@include size(100%);
	background-color: $body-bg;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
