@import '../settings/global';

$container-width: upper-bound($medium-range) !default;

html, body {
	height: 100%;
  width: 100%;
	background-color: $body-bg;
}

.container {
  max-width: $container-width !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(15);

  @media #{$xxlarge-up} {
    padding: 0;
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
