@import '../settings/global';

.sassy-form {

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    background-color: $body-bg;
    border: $base-border;
    border-radius: $global-radius;
    box-sizing: border-box;
    display: block;
    margin: rem(4) 0 rem(16);
    max-width: 100%;
    padding: rem(7.5);
    transition: border-color 0.5s ease;
    transition: color 0.5s ease;
    width: 100%;

    &:hover {
      border-color: scale-color($base-border-color, $lightness: -5%);
      outline: none;
    }

    &:focus {
      border-color: $color-1;
      outline: none;
    }

    &[disabled] {
      cursor: not-allowed;
      // background-color: $base;
      // color: $white;
    }

  }

  label {
    font-weight: 600;
    margin-bottom: rem(16);

    &.required::after {
      content: "*";
    }

    abbr {
      display: none;
    }
  }

  select {
    // height: 2.25em;
    border: $base-border;
    background-color: $body-bg;
  }
  select[multiple] {
    height: auto;
  }
  label {
    margin: rem(4) 0 rem(16);
  }
  fieldset {
    margin: 0;
    padding: rem(4) 0 rem(16);
    border: 0;
  }
  legend {
    display: block;
    width: 100%;
    // padding: 0.3em 0;
    // margin-bottom: 0.3em;
    // color: #333;
    border-bottom: $base-border;
  }

  textarea {
    resize: vertical;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin: rem(4) rem(8) rem(16) rem(4);
  }

  input[type="file"] {
    padding-bottom: rem(10);
  }

}